Loops

In [ ]:
for index in range(0, 10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [ ]:
name = input("Enter your name: ")

Enter your name: Aiza

In [ ]:
for index in range(0, 4):
    print(name[index])

A
i
z
a

In [ ]:
for index in range(0,len(name)):
    print(name[index])

A
i
z
a

In [ ]:
for char in name:
    print(char)

NameError: name 'name' is not defined

In [ ]:
name[1]

NameError: name 'name' is not defined

Conditional Loop

In [ ]:
char = 0
while char <= 5:
    char +=1
    print(char)

1
2
3
4
5
6

In [ ]:
team = 9
while team <= 10:
    team +=1
    print(team)

10
11

In [ ]:
# to get even numbers
for i in range(1, 51):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
table = int(input("Enter your table number: "))
for index in range(1, 11):
    print(f"{table} * {index} = {table*index}")

Enter your table number: 19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [ ]:

table = int(input("Enter your table number: "))
for a in range(1, table):
  for index in range(1, 6):
    print(f"{a} * {index} = {a*index}")

Enter your table number: 9
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40

In [ ]:
table = int(input("Enter your table number: "))
for a in range(1, table +1):
  for index in range(1, 11):
    print(f"{a} * {index} = {a*index}")

Enter your table number: 5
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50