@Uzma Jawed

Lists, Sets, Dictionaries, and Counting operations.

### List Operations
Created [0,1,2,...,9,0,1,...,9] and counted occurrences (my_list.count(9)).

In [ ]:
my_list = []
my_list.extend(range(10))
for i in range(10):
    my_list.append(i)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list.count(9)

2

In [ ]:
for i in range(5):
  # print(f"{i} {my_list.count(i)}")
  print((i,my_list.count(i)))

(0, 2)
(1, 2)
(2, 2)
(3, 2)
(4, 2)

### Removing Duplicates.

In [ ]:
for j in range(len(my_list)):
  if my_list.count(j)>1:
     my_list.remove(j)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Set Operations

Converted a list to set & added a new element.

In [ ]:
my_set = set(my_list)

In [ ]:
my_set.add(90)

In [ ]:
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 90}

### Empty List Counting

Printed (i, 0) for i in range(5) since colors was empty.

In [ ]:
colors = []

In [ ]:
list_tuple = []
for i in range(5):
  print((i, colors.count(i)))
  list_tuple.append((i, colors.count(i)))
print(list_tuple)

(0, 0)
(1, 0)
(2, 0)
(3, 0)
(4, 0)
[(0, 0), (1, 0), (2, 0), (3, 0), (4, 0)]

### Dictionary/JSON Practice

Stored dictionaries in lists.

In [ ]:
# dictionary/ JSON
info = {"name":"Sara", "Age":20, "Education":"FSc"}
lists = []
lists.append(info)
info

{'name': 'Sara', 'Age': 20, 'Education': 'FSc'}

In [ ]:
info_2 = {"name":"Aqsa", "Age":26, "Education":"BSc"}
lists_2 =[]
lists_2.append(lists_2)
info_2
info_3 = [info ,info_2]
print(info_3)

[{'name': 'Sara', 'Age': 20, 'Education': 'FSc'}, {'name': 'Aqsa', 'Age': 26, 'Education': 'BSc'}]

### **Relatable practices**


*   List Exercises

1. Removes duplicates

In [ ]:
num_list = [3, 5, 2, 3, 8, 5, 9, 2, 0, 1, 4, 6]
num_list1 = []
for num in num_list:
    if num not in num_list1:
        num_list1.append(num)
print(num_list1)

[3, 5, 2, 8, 9, 0, 1, 4, 6]

2. Find Common Elements

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
for num in list1:
    if num in list2:
        print(num)

3
4



*   Set Exercises

3. Add user input to a set

In [ ]:
fruits = {"apple", "banana"}
Fruit = input("Enter a fruit to add: ")
fruits.add(Fruit)
print(fruits)

Enter a fruit to add: Melon
{'apple', 'banana', 'Melon'}

4. Find unique items in a list

In [ ]:
breakfast = {"cheese", "bread", "milk", "eggs"}
lunch = {"bread", "chicken", "eggs", "rice", "salid"}

unique_to_breakfast = breakfast - lunch
unique_to_lunch = lunch - breakfast

print("Unique to breakfast:", unique_to_breakfast)
print("Unique to lunch:", unique_to_lunch)

print("Items in both lists:", breakfast & lunch)

Unique to breakfast: {'cheese', 'milk'}
Unique to lunch: {'chicken', 'rice', 'salid'}
Items in both lists: {'eggs', 'bread'}


*   Dictionary Exercises

5. Merge 2 dictionaries

In [ ]:
dict1 = {"name": "Ana", "age": 25}
dict2 = {"city": "Karachi", "age": 26}  # "age" will update!
merged = dict1.copy()  # Avoid modifying dict1
merged.update(dict2)   # Updates with dict2's keys
print(merged)

{'name': 'Ana', 'age': 26, 'city': 'Karachi'}

6. Counting fruits

In [ ]:
fruits = ["pineapple", "cherry", "pineapple", "mango", "cherry", "pineapple"]
fruit_counts = {}
# Count each fruit
for fruit in fruits:
    if fruit in fruit_counts:
        fruit_counts[fruit] += 1
    else:
        fruit_counts[fruit] = 1

print("Fruit counts:", fruit_counts)

Fruit counts: {'pineapple': 3, 'cherry': 2, 'mango': 1}

7. Counting Letters

In [ ]:
word = "hello"
letter_counts = {}

for letter in word:
    if letter in letter_counts:
        letter_counts[letter] += 1
    else:
        letter_counts[letter] = 1

print("Letter counts:", letter_counts)

Letter counts: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

* Loop Exercises

8. Filter Evens

In [ ]:
numbers = [11, 20, 33, 40, 55]
evens = []
for num in numbers:
    if num % 2 == 0:
        evens.append(num)
print("Even numbers:", evens)

Even numbers: [20, 40]

9. Emoji counter

In [ ]:
sparkles = int(input("How many Sparkles? "))
for i in range(1, sparkles+1):
    print("âœ¨" * i)

How many Sparkles? 5
âœ¨
âœ¨âœ¨
âœ¨âœ¨âœ¨
âœ¨âœ¨âœ¨âœ¨
âœ¨âœ¨âœ¨âœ¨âœ¨

10. Making pattern

In [ ]:
for i in range(2):
    if i == 0:
        print(" " * 3 + "ðŸ¦‹")
    else:
        print("ðŸ¦‹" + " " * 4 + "ðŸ¦‹")

   ðŸ¦‹
ðŸ¦‹    ðŸ¦‹