@Uzma Jawed


___
### Tuples in Python
___
1. A tuple is using parenthesis() or the tuple()constructor.
2. it is ordered similar to a list.
3. It is immutable. you can not add, remove or change elementts once defined.

In [ ]:
# Creating Tuples
empty_tuple = ()
single_element_tuple = (42,)
numbers_tuple = (10, 20, 30)
mixed_tuple = ("Unza", 25, True)

print("Empty tuple:", empty_tuple)
print("Single element tuple:", single_element_tuple)
print("Numbers tuple:", numbers_tuple)
print("Mixed tuple:", mixed_tuple)

Empty tuple: ()
Single element tuple: (42,)
Numbers tuple: (10, 20, 30)
Mixed tuple: ('Unza', 25, True)

___
### Tuple Methods
___

In [ ]:
# 1. count()
fruits = ('apple', 'banana', 'cherry', 'apple', 'banana', 'apple')
# Count how many times 'apple' appears
apple_count = fruits.count('apple')
print(apple_count)

3

In [ ]:
# 2. index()
colors = ('red', 'green', 'blue', 'yellow', 'green')
# Find index of 'blue'
blue_index = colors.index('blue')
print(blue_index)

2

In [ ]:
# Find index of first 'green' occurrence
green_index = colors.index('green')
print(green_index)

1

In [ ]:
# You can specify start and end position
numbers = (1, 2, 3, 4, 5, 2, 3, 2)
# Find index of 2 after position 3
index1 = numbers.index(2, 3)
print(index1)

5

In [ ]:
# Find index of 3 between positions 4 and 7
index2 = numbers.index(3, 4, 7)
print(index2)

6

In [ ]:
# slicing works similarly to lists
sub_tuple = numbers_tuple[1:] # (20, 30)
print("Sliced sub-tuple:", sub_tuple)

Sliced sub-tuple: (20, 30)

___
### The tuple() Constructor
___
Using the tuple() method to make a tuple:

In [ ]:
colour_tup = tuple(("pink", "red", "purple")) # note the double round-brackets
print(colour_tup)

('pink', 'red', 'purple')

___
### Immutability
___

In [ ]:
# Trying to modify a tuple will raise an error
try:
    numbers_tuple[1] = 99 # this is not allowed
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

___
### Change Tuple Values
___

Tuples are unchangeable, or immutable. But You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
colour_tup = ("red", "green", "blue", "red")
colours = list(colour_tup)
colours[3] = "pink"
colour_tup = tuple(colours)
print(colour_tup)

('red', 'green', 'blue', 'pink')

â€¢You can use append() method similarly, convert tuple into list, append items then convert back list into tuple.

___
### Tuple Unpack
___

In [ ]:
# Unpacking a tuple into seperate variables
person_tuple = ("Riya", 24, "Engineer")
name, age, job = person_tuple
# Unpack in order
print("Name:", name)
print("Age:", age)
print("Job:", job)

Name: Riya
Age: 24
Job: Engineer

___
### Allow Duplicates
___
Since tuples are indexed, they can have items with the same value:

In [ ]:
colours_tup = ("Red", "Green", "Blue", "Red")
print(colours_tup)

('Red', 'Green', 'Blue', 'Red')

___
### Tuple Length
___

In [ ]:
colours_tup = ("Red", "Green", "Blue", "Red")
print(len(colours_tup))

4

___
### One item Tuple
___
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
colour_tup = ("Red",) # remember Comma
print(type(colour_tup))
colour_tup = ("Red")  # not a Tuple
print(type(colour_tup))

<class 'tuple'>
<class 'str'>

___
### Data type of Tuple
___

In [ ]:
colour_tup = ("Red", "Green", "Blue")
print(type(colour_tup))

<class 'tuple'>

___
### Loop Tuple
___

In [ ]:
# Iterate through the items and print the values:
colour_tup = ("Red", "Green", "Blue")
for i in colour_tup:
    print(i)

Red
Green
Blue


___
Loop through indexing
___

In [ ]:
color_tup = ("Red", "Green", "Blue")
for i in range(len(color_tup)):
    print(color_tup[i])

Red
Green
Blue

___
### Tuple Concatenation
___

In [ ]:
fruits1 = ("apple", "banana", "cherry")
fruits2 = ("orange", "kiwi", "melon")
fruits3 = fruits1 + fruits2
print(fruits3)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')

___
### Multiply Tuples
___

In [ ]:
fruits = ("apple", "banana", "cherry")
f_tuple = fruits * 3
print(f_tuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Best Practice for Tuples
1. Use tuples for fixed collections of items that don't change, like coordinates or constant data.
2. Lewrage tuple unpacking to write cleaner code when returning multiple values from a function.
3. Don't modify: if you need to frequently alter the collection consider a list.