@Uzma Jawed

___
### Python Sets
___
1. A `set` is created using curly brackets{} or the `set()` constructor.
2. It is `unordered` and does not allow `duplicate elements`.
3. It is `mutable`: You can add or remove elements.

In [ ]:
# Creating Sets
numbers_set = {1, 2, 3, 2} # Remove Duplicates Automatically
print(numbers_set)

{1, 2, 3}

In [ ]:
mixed_set = {"apple", 42, (1, 2)} # You can store immutable types like Tuples
print(mixed_set)

{42, (1, 2), 'apple'}

In [ ]:
# Quick Quiz: Create an empty set. check using type() function that type of your variable is a set.
colors = {}
print(type(colors))

<class 'dict'>

The syntax of `dictionary` and `sets` are same. so when you create a `set` by using curly brackets {} it will show you type() as `dictionary`. To create `empty set` use `set() `constructor.

In [ ]:
colours = set()
print(type(colours))

<class 'set'>


___
### Accessing set items
___
* using a `for` loop

In [ ]:
numbers = {1, 2, 3, 4, 5}
for num in numbers:
    print(num)

1
2
3
4
5

In [ ]:
set_a = {1, 2, 3, 4, 5}
print(3 in set_a)

True


___
### Adding and Removing Elements
___

In [ ]:
numbers.add(6)
numbers.discard(2) # Removes 2 if it exists, no error if it doesn't
numbers.remove(3)  # Removes 3 but raises a keyError if it doesn't exist
print("Updated set:", numbers)

Updated set: {1, 4, 5, 6}


___
### Sets Operations
___
Sets support mathematical set operations like `union`, `intersection`, `difference`, etc.

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Union: all elements from both sets
print("Union:", set_a.union(set_b)) # or set_a | set_b

# Update: adds items into existing set from another set
set_a.update(set_b)
print("Updated set_a:", set_a)

# Intersection: returns a new set containing elements common to all sets.
print("Intersection:", set_a.intersection(set_b)) # or set_a & set_b

# Intersection_update: modifies the set to keep only common elements.
set_a.intersection_update(set_b)
print("Intersection_Updated set_a:", set_a)

# Difference: elements in set_a but not in set_b
print("Difference:", set_a.difference(set_b)) # or set_a - set_b

# Difference_update: removes elements found in another set.
set_a.difference_update(set_b)
print("Difference_Updated set_a:", set_a)

# Symmetric Difference: elements in either set_a or set_b, but not both
print("Symmetric Difference:", set_a.symmetric_difference(set_b)) # or set_a ^ set_b

# Symmetric_difference_update: updates the set to keep only elements from either set, but not both
set_a.symmetric_difference_update(set_b)
print("Symmetric_Difference_Updated set_a:", set_a)

Union: {1, 2, 3, 4, 5}
Updated set_a: {1, 2, 3, 4, 5}
Intersection: {3, 4, 5}
Intersection_Updated set_a: {3, 4, 5}
Difference: set()
Difference_Updated set_a: set()
Symmetric Difference: {3, 4, 5}
Symmetric_Difference_Updated set_a: {3, 4, 5}


___
### Set Methods
___
There are several `in-built` methods used for the manipulation of `set`.

In [ ]:
# Isdisjoint: checks if two sets have no common elements.
set_a = {1, 2, 3}
set_b = {4, 5, 6}
print("Is disjoint:", set_a.isdisjoint(set_b))

Is disjoint: True

In [ ]:
# Issuperset: checks if a set contains all elements of another set.
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
print("Is superset:", set_a.issuperset(set_b))
print("Is superset:", set_b.issuperset(set_a))

Is superset: False
Is superset: True

In [ ]:
# Issubset: checks if all elements of a set are present in another set.
set_a = {1, 2}
set_b = {1, 2, 3, 4, 5}
print("Is subset:", set_a.issubset(set_b))

Is subset: True

In [ ]:
# del() keyword: delete an entire set
set_s = {1, 2, 3}
del set_s  # Deletes the set completely

In [ ]:
# pop(): removes and returns an arbitrary element from the set.
set_a = {1, 2, 3}
popped_element = set_a.pop()
print("Popped element:", popped_element)

Popped element: 1

In [ ]:
# len(): returns the number of elements in a set.
set_a = {1, 2, 3}
print("Length of set:", len(set_a))

Length of set: 3

In [ ]:
# clear(): removes all elements from set
set_a = {1, 2, 3}
set_a.clear()
print("Cleared set:", set_a)

Cleared set: set()

In [ ]:
# copy(): returns a shallow copy of the set
set_a = {1, 2, 3}
set_b = set_a.copy()
print("Copied set:", set_b)

Copied set: {1, 2, 3}


___
### Duplicates not allowed
___

In [ ]:
# True & 1, False & 0, considered the same value
s = {True, 1, False, 0}
print(s)

{False, True}


___
### Best Practice for Sets
___

1. Use sets when you need to efficiently test for membership (in check) and duplicates.
2. Avoid storing immutable items in a set, items must be hashable(mutable).
3. Use set operations for cleaner and more efficient code when dealing with membership and overlaps.