Python provides many built-in functions to perform common tasks. Here are a few of them:

len():

Returns the length of an object (string, list, etc.)

Example:

In [4]:
text = "Uzma"
print(len(text))

4

max():

Returns the maximum value from a list.

Example:

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7]

print(max(numbers))

7

In [6]:
numbers = [1, 2, 3, 4, 5]
print(max(numbers))

prices = [10, 25, 8, 15, 30]
highest_price = max(prices)
print("The highest price on the menu is:", highest_price)

5
The highest price on the menu is: 30

sorted():

sorts a list in ascending order.

In [7]:
ratings = [4.2, 3.5, 5.0, 3.8]
sorted_ratings = sorted(ratings)
print("The restaurant ratings from lowest to highest:", sorted_ratings)

The restaurant ratings from lowest to highest: [3.5, 3.8, 4.2, 5.0]

range():

Generates a sequence of numbers.

Example:

In [8]:
# generates a sequence of numbers like (preparing a set of number of meals for a buffet).

for i in range(5):
    print("Dish", i+1, "is ready!")

Dish 1 is ready!
Dish 2 is ready!
Dish 3 is ready!
Dish 4 is ready!
Dish 5 is ready!

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

id():

Returns the memory address of an object.

Example:

In [10]:
x = 42
print("The memory address of x is:", id(x))

The memory address of x is: 10759048

eval():

Evaluates a string as a Python expression.

Example:

In [11]:
expression = "5+3*2"
result = eval(expression)
print("The result of the expresion is:", result)

The result of the expresion is: 11

Function Execution with Input and Output

Functions can take input and provide output.

Input and Output Example:
 If you want to display a message and take input from the user, you can use the input() function.

Meaningful Messages:
 It is important to display meaningful messages for better readability and user experience.

 Example:

In [14]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Uzma
Hello Uzma

In [12]:
name = input("Enter your name:" )
print("Hello", name)
print(f"The length of the string is {len(name)}")

Enter your name:uzma
Hello uzma
The length of the string is 4

The print() displays output.

In [13]:
print("Welcome to python functions!")

Welcome to python functions!

The type() returns the type of that object.

In [15]:
num = 10
print("The type of num is:", type(num))

The type of num is: <class 'int'>

sorted() Function:

By default, the sorted() function sorts numbers or lists in ascending order.

However, you can also sort in descending order by specifying the reverse parameter:

In [16]:
# Sample list of food prices
food_prices = [15, 40,  10, 25, 30]

# Sort prices from highest to lowest using
sorted_prices = sorted(food_prices, reverse=True)

print("Food prices from highest to lowest:", sorted_prices)

Food prices from highest to lowest: [40, 30, 25, 15, 10]