@Uzma_Jawed

###Reversing "hello world" using Python comprehension
A concise way to reverse the letters in "hello world" using Python comprehension:

In [ ]:
original = "hello world"
reversed_str = original[::-1]
print(reversed_str)

dlrow olleh

If you specifically want to use a list comprehension:

In [ ]:
original = "hello world"
reversed_str = ''.join([original[i] for i in range(len(original)-1, -1, -1)])
print(reversed_str)

dlrow olleh

A concise overview of Python comprehensions with examples:

1. List Comprehension
Creates a new list by applying an expression to each item in an iterable.

In [ ]:
# Squares of numbers 0-9
squares = [x**2 for x in range(10)]

In [ ]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

2. Dictionary Comprehension
Creates a new dictionary with key-value pairs.

In [ ]:
# Number to square mapping
square_dict = {x: x**2 for x in range(5)}

In [ ]:
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

3. Generator Expression (often called "tuple comprehension")
Creates an iterator (not a tuple) - memory efficient for large data.

In [ ]:
# Generator for squares
squares_gen = (x**2 for x in range(10))

In [ ]:
squares_gen

4. Set Comprehension
Creates a new set (unique elements only).

In [ ]:
# Unique squares modulo 5
unique_squares = {x**2 % 5 for x in range(10)}

In [ ]:
unique_squares

{0, 1, 4}

Important Notes:
String "comprehension" isn't a separate type - use join() with a generator:

In [ ]:
reversed_str = ''.join(c for c in 'hello'[::-1])

In [ ]:
reversed_str

'olleh'

No tuple comprehension - parentheses create generators

All comprehensions can include if conditions:

In [ ]:
evens = [x for x in range(10) if x % 2 == 0]

In [ ]:
evens

[0, 2, 4, 6, 8]

Python Comprehensions Cheat Sheet

1️⃣ List Comprehension
→ Creates a list by transforming/filtering an iterable.

In [ ]:
nums = [1, 2, 3, 4]
squared = [x**2 for x in nums]
evens = [x for x in nums if x % 2 == 0]

In [ ]:
squared

[1, 4, 9, 16]

In [ ]:
evens

[2, 4]

2️⃣ Dictionary Comprehension
→ Builds a dict with {key: value} pairs.

In [ ]:
names = ["Umar", "Ali"]
name_lengths = {i: len(i) for i in names}

In [ ]:
name_lengths

{'Umar': 4, 'Ali': 3}

3️⃣ Set Comprehension
→ Creates a set (unique elements only).

In [ ]:
nums = [1, 2, 2, 3, 3, 3]
unique_squares = {x**2 for x in nums}

In [ ]:
unique_squares

{1, 4, 9}

4️⃣ Generator Expression (Lazy Evaluation)
→ Returns an iterator (memory-efficient for big data).

In [ ]:
squares_gen = (x**2 for x in range(10))
print(list(squares_gen))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

5️⃣ "String Comprehension" (Not a real thing, but you can fake it!)
→ Use join() + generator to process strings.

In [ ]:
text = "hello"
reversed_text = ''.join(c for c in reversed(text))
uppercase_letters = [c.upper() for c in text]

In [ ]:
reversed_text

'olleh'

In [ ]:
uppercase_letters

['H', 'E', 'L', 'L', 'O']

⚡ Bonus: Nested Comprehension

In [ ]:
matrix = [[1, 2], [3, 4]]
flattened = [i for row in matrix for i in row]

In [ ]:
flattened

[1, 2, 3, 4]

List Comprehension

In [ ]:
name = input("Enter a name:")

Enter a name:Uzma

In [ ]:
name = []
for i in range(10):
  name.append(i)

In [ ]:
name

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
name = [i for i in range(0,10)]

In [ ]:
name

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
square_list = []
for i in range(0,10):
  if i % 2 == 0:
    square_list.append(i**2)

In [ ]:
square_list

[0, 4, 16, 36, 64]

In [ ]:
sar_list = [i**2 for i in range(0,10) if i % 2 == 0]

In [ ]:
sar_list

[0, 4, 16, 36, 64]

Dictionary Comprehension

In [ ]:
data = {
    "name" : "Uzma",
    "city" : "Karachi"
}

In [ ]:
data.keys()

dict_keys(['name', 'city'])

In [ ]:
data.values()

dict_values(['Uzma', 'Karachi'])

In [ ]:
for k,v in data.items():
  print(k,v.lower())

name uzma
city karachi

In [ ]:
for i in range(0,10):
  print(i , i**2)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [ ]:
square_dict = {i : i**2 for i in range(0,10)}

In [ ]:
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
square_dict = {i : i**2 for i in range(0,10) if i % 2 == 0}

In [ ]:
square_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
# task reversed given data
data = {
    "a" : 1,
    "b" : 2,
    "c" : 3
    }
reversed = {
    1 : "a",
    2 : "b",
    3 : "c"
}

In [ ]:
data =  {"a" : 1, "b" : 2, "c" : 3}
reversed = {v:k for k,v in data.items()}
print(reversed)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
sar_list = [i**2 for i in range(0,10)if i % 2 == 0]
sar_list

[0, 4, 16, 36, 64]

In [ ]:
# create data in this form
# [(0,0), (1,1), (2,4), (3,9)]

square_tuple = [ (i, i**2) for i in range(0,10)]
square_tuple

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [ ]:
words = ["Python", "is", "awesome"]
words_length = {i: len(i) for i in words}

In [ ]:
words_length

{'Python': 6, 'is': 2, 'awesome': 7}