### Created by @Uzma Jawed

In [ ]:
num=int(input("enter the number"))
for i in range(1,num+1):
  for j in range(1,11):
    print(i,"x",j,"=",i*j)

enter the number6
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
num=int(input("enter the number"))
for i in range(1,num):
  print(i)

enter the number8
1
2
3
4
5
6
7

In [ ]:
name_list = ["Sara", "Urwa", "Asra", "Hani"]

In [ ]:
type(name_list)

list

In [ ]:
print(name_list)

['Sara', 'Urwa', 'Asra', 'Hani']

In [ ]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num = range(1, 11)
num_list = list(num)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
age = []

In [ ]:
age.append(12)

In [ ]:
(age)

[12]

In [ ]:
age.append(24)

In [ ]:
print(age)

[12, 24]

In [ ]:
number_list=[1,2,3,4,4,5]
number_list.remove(4)
print(number_list)

[1, 2, 3, 4, 5]

In [ ]:
veg_list = []
veg = input("Enter a vegetable:")
veg_list.append(veg)
veg_list.append("kiwi")
veg_list.append("chilli")
print(veg_list)

Enter a vegetable:Carrot
['Carrot', 'kiwi', 'chilli']

In [ ]:
animal_list = []
animal_list = ["Zebra"]
animal = input("Enter an animal: ")  # Get animal input from the user
animal_list.append(animal)  # Add the animal to the list
print(animal_list)  # Print the updated list of animals

Enter an animal: Lion
['Zebra', 'Lion']

In [ ]:
# add two more animals
animal_list.extend(["Tiger" , "Bear"])
print(animal_list)

['Zebra', 'Lion', 'Tiger', 'Bear']

In [ ]:
# now add 3 more names in the list

animal_list.extend(["Cow" , "Lamb" , "Goat"])

In [ ]:
animal_list

['Zebra', 'Lion', 'Tiger', 'Bear', 'Cow', 'Lamb', 'Goat']

In [ ]:
# adding one more name by index in the list

animal_list[3] = "Giraffe"

In [ ]:
animal_list

['Zebra', 'Lion', 'Tiger', 'Giraffe', 'Cow', 'Lamb', 'Goat']

In [ ]:
del animal_list[3]

In [ ]:
animal_list

['Zebra', 'Lion', 'Tiger', 'Cow', 'Lamb', 'Goat']

In [ ]:
animal_list.remove("Lion")

In [ ]:
animal_list

['Zebra', 'Tiger', 'Cow', 'Lamb', 'Goat']

In [ ]:
student_data = []

In [ ]:
list1=["Hani","Zaini"]
list2=["ana","sana"]
list3=["ayesha","anabia"]
student_data.append(list1)
student_data.append(list2)
student_data.append(list3)
print(student_data)

[['Hani', 'Zaini'], ['ana', 'sana'], ['ayesha', 'anabia']]

In [ ]:
# Create individual lists

list1 = ["Aina", 14]
list2 = ["Iza", 29]
list3 = ["Riya", 30]

# Combine all lists into one list
lists = [list1, list2, list3]

# result
print(lists)

[['Aina', 14], ['Iza', 29], ['Riya', 30]]

In [ ]:
candidates_list = []

In [ ]:
# First candidate

particular_student = []
particular_student.extend([
    input("Enter first name: "),
    int(input("Enter first age: ")),
    input("Enter first education: ")
])
candidates_list.append(particular_student)

Enter first name: Elsa
Enter first age: 15
Enter first education: SSc

In [ ]:
# Second candidate

particular_student = []
particular_student.extend([
    input("Enter second name: "),
    int(input("Enter second age: ")),
    input("Enter second education: ")
])
candidates_list.append(particular_student)

Enter second name: Muntaha
Enter second age: 25
Enter second education: BSc

In [ ]:
# Third candidate
particular_student = []
particular_student.extend([
    input("Enter third name: "),
    int(input("Enter third age: ")),
    input("Enter third education: ")
])
candidates_list.append(particular_student)

Enter third name: Amna
Enter third age: 30
Enter third education: MBBS

In [ ]:
print(candidates_list)

[['Elsa', 15, 'SSc'], ['Muntaha', 25, 'BSc'], ['Amna', 30, 'MBBS']]

In [ ]:
particular_list=[]
name=input("enter the name:")
age=input("enter the age:")
education=input("enter the education:")
particular_list.extend([name,age,education])
print(particular_list)

enter the name:Maryam
enter the age:25
enter the education:B.com
['Maryam', '25', 'B.com']

In [ ]:
candidate_list=[]
for i in range(1,4):
  particular_list=[]
  name=input("Enter your name:")
  age=input("Enter your age:")
  education=input("Enter your education:")
  particular_list.extend([name,age,education])
  candidate_list.append(particular_list)
  print(candidate_list)

Enter your name:Unza
Enter your age:35
Enter your education:MSc
[['Unza', '35', 'MSc']]
Enter your name:Aniza
Enter your age:20
Enter your education:FSc
[['Unza', '35', 'MSc'], ['Aniza', '20', 'FSc']]
Enter your name:Unzila
Enter your age:21
Enter your education:BBA
[['Unza', '35', 'MSc'], ['Aniza', '20', 'FSc'], ['Unzila', '21', 'BBA']]

In [ ]:
fruit_list = []  # Initialize an empty list
fruit = input("Enter a fruit: ")  # Get fruit input from the user
fruit_list.append(fruit)  # Add the fruit to the list
fruit_list.append("Cherry")  # Add the second fruit to the list
fruit_list.extend(["Mango", "Kiwi"])  # Add multiple fruits to the list
print(fruit_list)  # Print the updated list of fruits

Enter a fruit: Peach
['Peach', 'Cherry', 'Mango', 'Kiwi']

In [ ]:
fruit_list.pop(-1) # Removes an element at a specified index and returns it.

'Kiwi'