@Uzma Jawed

In [ ]:
range(0, 100)

range(0, 100)

In [ ]:
1 in range(1, 101)

True

In [ ]:
"1" in range(1, 101)

In [ ]:
for value in range(10):
  print(2 * value)

0
2
4
6
8
10
12
14
16
18

In [ ]:
no = int(input("Enter a value:"))
for value in range(1, 11):
  print(no * value)

Enter a value:5
5
10
15
20
25
30
35
40
45
50

In [ ]:
table = (int(input("Enter a number for which you want table:")))
for value in range(1, 11):
 print(table, "*", value, "=", table*value)

Enter a number for which you want table:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
for no in range(1, 101):
  if no % 2 == 0:
    print(no)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(1, 101):
  if i % 2 != 0:
   print("odd", i)
print(i)

odd 1
odd 3
odd 5
odd 7
odd 9
odd 11
odd 13
odd 15
odd 17
odd 19
odd 21
odd 23
odd 25
odd 27
odd 29
odd 31
odd 33
odd 35
odd 37
odd 39
odd 41
odd 43
odd 45
odd 47
odd 49
odd 51
odd 53
odd 55
odd 57
odd 59
odd 61
odd 63
odd 65
odd 67
odd 69
odd 71
odd 73
odd 75
odd 77
odd 79
odd 81
odd 83
odd 85
odd 87
odd 89
odd 91
odd 93
odd 95
odd 97
odd 99
100

In [ ]:
name = "unza"
print(name)
age = 25
print(age)
for i in range(1, 5):
  print(i)

unza
25
1
2
3
4


### Control flow statements

* pass
*break
*continue

In [ ]:
# Loop through numbers from 1 to 9 (10 is excluded)
for i in range(1, 10):
    pass  # 'pass' does nothing (a placeholder for future code)
    print(i)  # Print the current value of 'i' in each iteration

1
2
3
4
5
6
7
8
9

In [ ]:
# Loop through numbers 1 to 4 (since range(1,5) stops at 4)for i in range(1, 5):
for i in range(1, 5):
    print(i)  # Print the current value of 'i'
    if i == 4:  # Check if 'i' equals 4
        break   # Exit the loop if condition is met

1
2
3
4

In [ ]:
for i in range(1, 5):
 print(i)
 if i == 5:
  break

1
2
3
4

In [ ]:
# Loop through numbers 0 to 4
for i in range(5):
    if i == 2:
        continue  # Skip the rest of the loop when i is 2 (so print(i) won't run for i=2)
    print(i)  # Print the current value of 'i'

0
1
3
4

In [ ]:
i =2
i = i+1

i*1
print(i)

3

In [ ]:
i = 2
flag = True
while flag:
  if i == 5:
    flag = False
  print(i)
  i+=1

2
3
4
5

In [ ]:
i = 2
flag = True
while flag:
  print("initial i", i)
  print("Before if condition", flag)
  if i == 5:
    flag = False
    print("After if condition", flag)
  i+=1
  print("incremented i", i)

initial i 2
Before if condition True
incremented i 3
initial i 3
Before if condition True
incremented i 4
initial i 4
Before if condition True
incremented i 5
initial i 5
Before if condition True
After if condition False
incremented i 6