# Python Lists
* Created by @Uzma Jawed
* Linkedin: https://www.linkedin.com/in/uzma-jawed-21684728b/

# **List**

## A list is a collection of ordered elements that allows duplicate values and support modifications.

# Definition

1. A list is created using square brackets[] or the list()constructor.
2. It is ordered, meaning elements retain the order in which they're inserted.
3. It is mutable: you can add, remove and modify elements after creation.

## Creating a list

In [ ]:
# Creating list in different ways

empty_list = []

numbers = [10, 20, 30, 40]
mixed_list = ["Hello", 3.14, True]

print("Empty list:", empty_list)
print("Numbers list:", numbers)
print("Mixed list:", mixed_list)

# Accessing elements by index

first_num = numbers[0] # 10
last_num = numbers[-1] # 40
last_num1 = numbers[3]

print("first number:", first_num)
print("last number:", last_num)
print("Last number:", last_num)

Empty list: []
Numbers list: [10, 20, 30, 40]
Mixed list: ['Hello', 3.14, True]
first number: 10
last number: 40
Last number: 40

# Adding , Removing and Modifying Elements

## Appending and Inserting Elements:

*   Append adds elements in the end.
*   Insert adds elements at a specific index.
# Removing Elements

* pop() removes the last element.

In [ ]:
# Adding elements
print(numbers)
numbers.append(50) # appending elements
print(numbers) # Add 50 at the end
numbers.insert(2, 15) # inserting elments
print(numbers) # insert 15 at index 2

# Removing elements
removed_item = numbers.pop()
print(numbers)  # Removes and returns the last item(50)
numbers.remove(20)
print(numbers) # Removes the first occurrence of 20

# Modifying an element
numbers[1] = 25 # Change the element at index 1 to 25

print("Modified numbers list:", numbers)
print("Removed item:", removed_item)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 15, 30, 40, 50]
[10, 20, 15, 30, 40]
[10, 15, 30, 40]
Modified numbers list: [10, 25, 30, 40]
Removed item: 50

## Check if an item exist in the list
It is done by using **in** keyword.

In [ ]:
cities = ["Karachi", "Lahore", "Islamabad", "Multan", "Quetta"]
if "Karachi" in cities:
    print("Karachi is in the list")
else:
    print("Karachi is not in the list")

Karachi is in the list

## Printing elements within a particular range

In [ ]:
colors = ["red", "green", "blue", "yellow", "orange", "purple"]
print(colors[1:4]) # positive indexes
print(colors[-4:-1]) # negative indexes

['green', 'blue', 'yellow']
['blue', 'yellow', 'orange']

## Printing all elements to the given index till the end

In [ ]:
countries = ["USA", "Canada", "UK", "Australia", "Germany", "Japan"]
print(countries[2:]) # positive indexes
print(countries[-3:]) # negative indexes

['UK', 'Australia', 'Germany', 'Japan']
['Australia', 'Germany', 'Japan']

In [ ]:
# Creating a list

fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [ ]:
# Access elements (indexing/slicing)
print(fruits[0])
print(fruits[2])
print(fruits[1:4])

apple
cherry
['banana', 'cherry', 'date']

# List Methods

In [ ]:
# Add, Remove items
fruits.append("fig") # Adds
print(fruits)

fruits.insert(2, "grape") # Inserts
print(fruits)

fruits.remove("date") # Removes
print(fruits)

# Sort and Reverse
numbers = [3, 1, 4, 5, 9, 2, 6, 8, 7, 0]
numbers.sort() # Sorts
print(numbers)

numbers.reverse() # Reverses
print(numbers)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
['apple', 'banana', 'grape', 'cherry', 'date', 'elderberry', 'fig']
['apple', 'banana', 'grape', 'cherry', 'elderberry', 'fig']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# index
colours = ["red", "green", "blue", "yellow", "orange", "purple"]
index = colours.index("blue")
print(index)

2

In [ ]:
# Count (returns count of number of items with given value)
numbers = [1, 2, 2, 3, 4, 2, 5, 6, 2, 7, 8, 2, 9]
count = numbers.count(2)
print(count)

5

In [ ]:
# Copy (returns copy of list)
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()
print(copied_list)

[1, 2, 3, 4, 5]

## Concatenating 2 lists

In [ ]:
cities = ["Karachi", "Lahore", "Islamabad", "Multan", "Quetta"]
cities2 = ["Hyderabad", "Peshawar", "Faisalabad"]
combined_list = cities + cities2
print(combined_list)

['Karachi', 'Lahore', 'Islamabad', 'Multan', 'Quetta', 'Hyderabad', 'Peshawar', 'Faisalabad']

# Sum
### (Calculate total of numbers)

In [ ]:
numbers = [10, 20, 30, 40]
total = sum(numbers)
print(total)

100

# len()
### Count elements in list

In [ ]:
fruits = ["apple", "banana", "cherry"]
length = len(fruits)
print(length)

3

# min()
### count smallest value

In [ ]:
prices = [99, 149, 79, 199]
cheapest = min(prices)
print(cheapest)

79

# List Comprehensions
Lists comprehensions are used for creating new lists for other iterables like lists, tuples, dictionaries, sets and even in arrays and strings.

In [ ]:
list1 = [i * i for i in range(1, 6)]
print(list1)

[1, 4, 9, 16, 25]

In [ ]:
list2 = [i * i for i in range(1, 11) if i % 2 == 0]
print(list2)

[4, 16, 36, 64, 100]

# List Comprehensions(Advanced)

In [ ]:
# Create a list of squares
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
# Filter even numbers
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [ ]:
# Accepts items which has more than 3 letters
names = ["Sheikh" , "Uzma" , "Zaid" , "Hassan" , "Sara"]
new_names = [name for name in names if len(name) > 3]
print(new_names)

['Sheikh', 'Uzma', 'Zaid', 'Hassan', 'Sara']


## Example: List Shopping Cart

In [ ]:
cart = []
items = input("Enter items to add to the cart: ")
# Split the input string into a list of items
items_list = items.split()
# Add items to the cart
cart.extend(items_list)
cart.append("bread")
cart.extend(["Cake", "Juice"])
print("Your cart:", cart)

Enter items to add to the cart: fruits
Your cart: ['fruits', 'bread', 'Cake', 'Juice']