In [ ]:
# Define empty dictionary
empty_dict = {}

# Define employee 1 with nested data structure
employee_1 = {
    "employee_id": 1,
    "employee_name": "uzma",
    "employee_skills": ["python", "java", "c++", "html", "BI"],
    "employee_salary": 2000000,
    "designation": "engineer",
    "department": "software engineering",
    "experience": [
        {
            "company-id": 1,
            "designation": "manager",
            "salary": 5000000,
            "skills": ["python", "java",]
        },
        {
            "company-id": 2,
            "designation": "engineer",
            "salary": 2000000,
            "skills": ["python", "c++"]
        }
    ]
}

# Define employee 2 with nested data structure
employee_2 = {
    "employee_id": 2,
    "employee_name": "sara",
    "employee_skills": ["python", "java", "c++", "html"],
    "employee_salary": 2000000,
    "designation": "engineer",
    "department": "software engineering",
    "experience": [
        {
            "company-id": 1,
            "designation": "manager",
            "salary": 5000000,
            "skills": ["python", "javascript"]
        },
        {
            "company-id": 2,
            "designation": "engineer",
            "salary": 2000000,
            "skills": ["java", "c++"]
        }
    ]
}

# Create a list of employee objects
employee_list = [employee_1, employee_2]

# Print skills of employee 1
print(employee_1['employee_skills'])

# Get employee skills of all employees
for employee in employee_list:
    print(employee['employee_skills'])

# Match and update employee skills with all company skills they've worked with
for employee in employee_list:
    # Get all unique skills from all experiences
    all_skills = set(employee['employee_skills'])  # Start with current skills

    for exp in employee['experience']:
        all_skills.update(exp['skills'])  # Add skills from each experience

    # Update employee's skills with the complete set
    employee['employee_skills'] = list(all_skills)
    print(f"Updated skills for {employee['employee_name']}: {employee['employee_skills']}")

['python', 'java', 'c++', 'html', 'BI']
['python', 'java', 'c++', 'html', 'BI']
['python', 'java', 'c++', 'html']
Updated skills for uzma: ['python', 'c++', 'html', 'java', 'BI']
Updated skills for sara: ['python', 'c++', 'html', 'java', 'javascript']

In [ ]:
employee_1

{'employe_id': 1,
 'employee_name': 'uzma',
 'employee_skills': ['python', 'java', 'c++'],
 'employee_salary': 2000000,
 'designation': 'engineer',
 'department': 'software engineering',
 'experience': [{'company-id': 1,
   'designation': 'manager',
   'salary': 5000000,
   'skills': ['python', 'java', 'c++']},
  {'company-id': 2,
   'designation': 'engineer',
   'salary': 2000000,
   'skills': ['python', 'java', 'c++']}]}

In [ ]:
empty_dict = {}
employee_2 = {"employe_id" : 2,
            "employee_name" : "urwa",
            "employee_skills" : ["python", "java", "c++"],
            "employee_salary" : 2000000,
            "designation" : "engineer",
            "department" : "software engineering",
            "experience" : [
                {
                    "company-id" : 1,
                    "designation" : "manager",
                    "salary" : 5000000,
                    "skills" : ["python", "java", "c++"]
                },
                {
                    "company-id" : 2,
                    "designation" : "engineer",
                    "salary" : 2000000,
                    "skills" : ["python", "java", "c++"]
                }
            ]
}

In [ ]:
employee_2

{'employe_id': 2,
 'employee_name': 'urwa',
 'employee_skills': ['python', 'java', 'c++'],
 'employee_salary': 2000000,
 'designation': 'engineer',
 'department': 'software engineering',
 'experience': [{'company-id': 1,
   'designation': 'manager',
   'salary': 5000000,
   'skills': ['python', 'java', 'c++']},
  {'company-id': 2,
   'designation': 'engineer',
   'salary': 2000000,
   'skills': ['python', 'java', 'c++']}]}

In [ ]:
employee_list = [employee_1, employee_2]

In [ ]:
employee_list[0]["employee_skills"]

['python', 'java', 'c++']

In [ ]:
employee_list[1]["employee_skills"]

['python', 'java', 'c++']

In [ ]:
employee_list[0]["experience"][0]["skills"]

['python', 'java', 'c++']

In [ ]:
employee_list[1]["experience"][0]["skills"]

['python', 'java', 'c++']

In [ ]:
employee_all_skills = employee_list[0]["experience"][0]["skills"]+employee_list[0]["experience"][1]["skills"]
print(employee_all_skills)
if employee_list[0]["employee_skills"] != employee_all_skills:
  for i in employee_all_skills:
    if i not in employee_list[0]["employee_skills"]:
      employee_list[0]["employee_skills"].append(i)
      print(employee_list[0]["employee_skills"])

['python', 'java', 'c++', 'python', 'java', 'c++']

In [ ]:
print(employee_list[0]['experience'][0]['skills'])
print(employee_list[0]['experience'][1]['skills'])
employee_list[0]['experience'][1]['skills'].append('c')
print(employee_list[0]['experience'][1]['skills'])

['python', 'java', 'c++']
['python', 'java', 'c++']
['python', 'java', 'c++', 'c']

In [ ]:
for i in range(0, 2):
  print(employee_list[i]['employee_skills'])

['python', 'java', 'c++']
['python', 'java', 'c++']

In [ ]:
print(employee_list,['employee_skills'])

[{'employe_id': 1, 'employee_name': 'uzma', 'employee_skills': ['python', 'java', 'c++'], 'employee_salary': 2000000, 'designation': 'engineer', 'department': 'software engineering', 'experience': [{'company-id': 1, 'designation': 'manager', 'salary': 5000000, 'skills': ['python', 'java', 'c++']}, {'company-id': 2, 'designation': 'engineer', 'salary': 2000000, 'skills': ['python', 'java', 'c++', 'c']}]}, {'employe_id': 2, 'employee_name': 'urwa', 'employee_skills': ['python', 'java', 'c++'], 'employee_salary': 2000000, 'designation': 'engineer', 'department': 'software engineering', 'experience': [{'company-id': 1, 'designation': 'manager', 'salary': 5000000, 'skills': ['python', 'java', 'c++']}, {'company-id': 2, 'designation': 'engineer', 'salary': 2000000, 'skills': ['python', 'java', 'c++']}]}] ['employee_skills']

In [ ]:
# match the employee skills with company skills
# and if the skills are not matched just add the particular skills in the employee skills
# note : employee skills is the sum of all skills

for value in employee_list:
  employee_all_skills = value['experience'][0]['skills']+value['experience'][1]['skills']
  print(employee_all_skills)
  for employee in employee_all_skills:
    if employee not in value['employee_skills']:
      value['employee_skills'].append(employee)
      print(value['employee_skills'])

['python', 'java', 'c++', 'python', 'java', 'c++']
['python', 'java', 'c++', 'python', 'java', 'c++']

In [ ]:
# match the employee skills with company skills
# and if the skills are not matched just add the particular skills in the employee skills
# note : employee skills is the sum of all skills

# Get the employee's current skills
current_skills = set(employee_1["employee_skills"])

# Iterate through each experience to collect all skills
for exp in employee_1["experience"]:
    company_skills = set(exp["skills"])
    # Add any new skills from this company to the employee's skills
    current_skills.update(company_skills)

# Update the employee's skills with the combined set
employee_1["employee_skills"] = list(current_skills)

print(employee_1["employee_skills"])

['python', 'java', 'c++', 'python', 'java', 'c++']
['python', 'java', 'c++', 'python', 'java', 'c++']